{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/styles_spammer.css' %}"> -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Cyclistic</title>
</head>
<body>
    <!-- ======= About Section ======= --><br><br>
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img src="{% static 'img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
                </div>                
                <div class="col-lg-4">
                    <h2>Cyclistic Google case</h2>
                </div>
            </div>
        </div><br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>In 2016, Cyclistic launched a successful bike-share offering. Since then, the program has grown to a fleet of 5,824 bicycles that
                        are geotracked and locked into a network of 692 stations across Chicago. The bikes can be unlocked from one station and
                        returned to any other station in the system anytime.<br> 
                     <p>
                        Cyclistic’s finance analysts have concluded that annual members are much more profitable than casual riders. Although the
                        pricing flexibility helps Cyclistic attract more customers, Moreno believes that maximizing the number of annual members will
                        be key to future growth. Rather than creating a marketing campaign that targets all-new customers, Moreno believes there is a
                        very good chance to convert casual riders into members. She notes that casual riders are already aware of the Cyclistic
                        program and have chosen Cyclistic for their mobility needs.
                     </p>
                    <p>The Marketing director set a Bussines task for me. I have to tell a history based on the dataset they will provide to me. The question is:<br><br></p>
                    <p>How do annual members and casual riders use Cyclistic bikes differently?</p>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div> 
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-6">
                    <a href="{% url 'cyclist' %}" class="btn btn-primary">See complete analysis</a>
                </div>
                <div class="col-lg-3">
                    
                    <div id="result"></div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <br>If you want to know how the architecture of this site works <a href="">click here.</a><br>                
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
      </section><!-- End About Section -->     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/app_spammer.js' %}"></script>
</body>
</html>